<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-UMengMobClick" version="0.1">
    <name>UMengMobClick</name>
    <description>Cordova UMengMobClick Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,umeng,mobclick</keywords>
    <js-module src="www/UMengMobClick.js" name="device">
        <clobbers target="UMengMobClick" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="UMengMobClick">
                <param name="ios-package" value="CordovaUMengMobClick"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
            </dict>
        </config-file>

        <header-file src="src/ios/CordovaUMengMobClick.h" />
        <source-file src="src/ios/CordovaUMengMobClick.m" />

        <header-file src="src/ios/UMengSDK/MobClick.h" />
        <header-file src="src/ios/UMengSDK/MobClickGameAnalytics.h" />
        <header-file src="src/ios/UMengSDK/MobClickSocialAnalytics.h" />
        <source-file src="src/ios/UMengSDK/libMobClickGameLibrary.a" framework="true"/>

        <framework src="libz.dylib" />
    </platform>
</plugin>
